@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&family=Hanken+Grotesk:wght@500&family=Mulish:wght@200&display=swap');

.get_started_box{
  margin: auto;
}

.gs-card-container {
  /* padding-left: 2%; */
  /* border-radius: 12px; */
  height: fit-content;
  /* min-width: 1150px; */
  /* border: 2px solid; */
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  /* border-bottom: 1px solid var(--Neutral-White-300, #EFEFEF); */
}
.gs-card-container>div{
  display: flex;
  align-items: center;
}
.gs-card-btn-container {
  display: flex;
  gap: 10px;

}
.gs-card-btn-container a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.gs-card-text {
  padding-left: 2%;
}
.gs-card-btn2 {
  font-family: Figtree;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 130px;
  border-radius: 12px;
  margin-left: 15px;
  cursor: pointer;
}
.gs-card-btn1 {
  font-family: Figtree;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.gs-heading {
  font-family: Figtree;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.gs-subheading {
  font-family: Figtree;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 8px;
}
.gs-card-head {
  color: var(--Neutral-Black-400, #2C2C2C);
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.3px; /* 150% */
}
.gs-card-desc {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.q_gt_progress{
  margin-top: 40px;
}

.q_gt_progress_bar{
  display: flex;
  align-self: stretch;
  color: var(--Neutral-Black-400, #2C2C2C);
  font-family: Figtree;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: -0.1px;
}

.q_progress_bar_completed{
  width: 12px;
  height: 6px;
  border-radius: 8px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
  background: #29B379;
  flex-shrink: 0;
}

.q_progress_bar_pending{
  height: 6px;
  border-radius: 8px;
  background: var(--Neutral-White-300, #EFEFEF);
  align-self: stretch;
}

.q_progress_percentage{
  color: var(--State-Success-300, #098849);
  text-shadow: 0px 2px 4px rgba(41, 179, 121, 0.50);
  font-family: Figtree;
  font-size: 11.122px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.683px; /* 150% */
}

.q_gt_progress{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gs-card-icon{
  box-sizing: content-box;
  display: flex;
  padding: 8px;
  border-radius: 48px;
  background: var(--Primary-Grape-100, #F4EBFF);
  align-items: flex-start;
  gap: 8px;
  width: 16px;
  height: 16px;
}

.q_gt_dropdown{
  display: flex;
  padding: 8px;
  padding-left: 12px;
  border-radius: 48px;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
 
}

.gs_card_body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px;
  align-items: center;
  gap: 12px;
  margin: 5px 0;
  border-radius: 10px;
}

.gs_card_body_text{
  display: flex;
  align-items: center;
  gap: 2px;
  flex: 1 0 0;
  align-self: stretch;
}

.gs_card_dropdown{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;  
}

.gs_drop_img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.gs_drop_btns{
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  margin-bottom: 20px;
}

.gs_start_btn{
  display: flex;
  padding: 10px 16px;
  border-radius: 10px;
  border: 1.5px solid #D1ACFF;
  background: linear-gradient(84deg, #9035FF 0.36%, #0065FF 100.36%);
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--Neutral-White-100, #FFF);
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.gs_visit_btn{
  display: flex;
  padding: 10px 16px;
  border-radius: 10px;
  border: 1.5px solid var(--Neutral-White-300, #EFEFEF);
  background: var(--Neutral-White-100, #FFF);
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--Neutral-Black-400, #2C2C2C);
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.gs_drop_desc{
  align-self: stretch;
  color: var(--Neutral-Black-100, #939393);
  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.gs_card_btn_2 {
  color: var(--neutral-opacity-white-80, rgba(255, 255, 255, 0.80));
  font-family: Figtree;
  font-size: 10.675px;
  font-style: normal;
  font-weight: 600;
  line-height: 15.25px;
  display: flex;
  width: 112.088px;
  height: 30.5px;
  padding: 7.625px 15.25px;
  justify-content: center;
  align-items: center;
  gap: 6.1px;
  border-radius: 7.625px;
  background: var(--Primary-Grape-500, #9035FF);
  box-sizing: content-box;
  white-space: nowrap;
}

.gs-heading-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gs_steps{
  color: var(--Neutral-Black-100, #939393);
  text-align: right;
  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

.q_gt_arrow{
  box-sizing: content-box;
  border-radius: 48px;
  width: 16px;
  height: 16px;
  padding: 8px;
  background: var(--Neutral-White-200, #FBFBFB);
 
}