@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&family=Hanken+Grotesk:wght@500&family=Mulish:wght@200&display=swap');
.gs-card-container {
  padding-left: 2%;
  border-radius: 12px;
  height: 92px;
  margin-top: 20px;
  /* min-width: 1150px; */
  border: 1.5px solid;
  display: flex;
  justify-content: start;
  align-items: center;
}
.gs-card-btn-container {
  padding-left: 2%;
  display: flex;
}
.gs-card-text {
  padding-left: 2%;
  width: 70%;
}
.gs-card-btn2 {
  font-family: Figtree;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 130px;
  border-radius: 12px;
  margin-left: 15px;
}
.gs-card-btn1 {
  font-family: Figtree;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gs-heading {
  font-family: Figtree;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.gs-subheading {
  font-family: Figtree;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 8px;
}
.gs-card-head {
  font-family: Hanken Grotesk;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.gs-card-desc {
  font-family: Hanken Grotesk;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
