
/* tour-helper */
.tour-helper{
  width: 250px;
  background-color: var(--background, white);
  --padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  font-family: var(--fontFamily, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif);
  border: 1px solid var(--borderColor, transparent);
}
.tour-image{
  position: relative;
  height: 150px;
}
.tour-image > img{
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 3;
}
.tour-image .tour-back-btn{
  position: absolute;
  top: var(--padding);
  left: var(--padding);
  cursor: pointer;
  z-index: 4;
}
.tour-image .tour-background{
  background-color: var(--secondaryColor, #F4EBFF);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.tour-image .tour-background > div{
  height: 100%;
  aspect-ratio: 1/1;
  border: 1px solid var(--borderColor, black);
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  --distance: 30%;
  background-color: var(--secondaryColor, #fad1ff);
}
.tour-image .tour-background > div:nth-child(1){
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% + var(--distance)));
  background-color: var(--primaryColor, #da8ee2);
  z-index: 1;
}
.tour-image .tour-background > div:nth-child(2){
  top: 50%;
  left: 50%;
  transform: translateX(calc(-50% - var(--distance))) translateY(calc(-50% - var(--distance)));
}
.tour-image .tour-background > div:nth-child(3){
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translateX(calc(-50% + var(--distance))) translateY(calc(-50% - var(--distance)));
}
.tour-content{
  padding: var(--padding);
}
.tour-content-title{
  color: var(--primaryColor, black);
}
.tour-content-info{
  color: var(--secondaryColor, gray);
}
.tour-content-description{
  font-size: 16px;
  color: var(--secondaryColor, gray);
}
.tour-content .tour-content-actions{
  display: flex;
  gap: 20px;
}
.tour-content > .tour-content-actions > button{
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid var(--borderColor, lightgray);
  background-color: var(--background, white);
  color: var(--primaryColor, black);
  white-space: nowrap;
  margin-top: 10px;
  border-radius: 6px;
  font-family: var(--fontFamily, Figtree);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.tour-content > .tour-content-actions > button:last-child{
  color: white;
}
.tour-helper .tour-watermark{
  padding: 10px var(--padding);
  background-color: rgb(242, 242, 242);
  color: var(--secondaryColor, gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tour-helper .tour-watermark svg path{
  fill: var(--secondaryColor, gray);
}
.tour-helper-tooltip{

}
.tour-helper-content{
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 240px;
  border-radius: 12px;
  border: 1px solid var(--borderColor, #9035FF);
  background: var(--background, #181818);
  position: relative;
}
.tour-helper-tooltip .tour-helper-tooltip-details{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tour-helper-tooltip .tour-helper-tooltip-details h1{
  margin: 0;
  padding: 0;
  color: var(--primaryColor, #FFF);
  font-family: var(--fontFamily, Figtree);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.tour-helper-tooltip .tour-helper-tooltip-details p{
  margin: 0;
  padding: 0;
  color: var(--Text-Tertiary, #979797);
  font-family: var(--fontFamily, Figtree);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.tour-helper-tooltip .tour-helper-tooltip-button{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 8px;
}

.tour-helper-button{
  height: fit-content;
  width: fit-content;
  padding: 6px 10px;
  box-sizing: border-box;
  color: var(--color-premitive-grey-5);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  background-image: url('../../assets/images/Gradient.png');
  background-size: 100% 100%;
  background-origin: border-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  --border-width: 1px;
  color: var(--primaryColor, white);
  white-space: nowrap;
  border: none;
  outline: none;
  text-align: center;
  font-family: var(--fontFamily, Figtree);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.tour-helper-button{
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.tour-helper-button.outline {
  color: var(--primaryColor, white);
}
.tour-helper-button::before{
  content: '';
  position: absolute;
  inset: var(--border-width);
  border-radius: inherit;
  background-color: var(--buttonColor, var(--background, #181818));
}
.tour-helper-button > *{
  position: relative;
}
.tour-helper-button.transparent{
  background-image: none;
  background-color: transparent;
}
.tour-helper-tooltip-pointer{
  height: 10px;
  width: 10px;
  background-color: var(--borderColor, #9035FF);
  position: absolute; 
  transition: opacity .5s;
}