.q_multi_choice_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.q_mult_choice_option {
  display: flex;
  gap: 5px;
  cursor: pointer;
  align-items: center;
  color: var(--Neutral-White-500, #b9b9b9);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  padding: var(--Units-10, 10px) var(--border-radius-radius-5, 16px);
  align-items: flex-start;
  gap: var(--Units-8, 8px);
  border-radius: var(--Units-10, 10px);
  border: 1px solid var(--Neutral-White-300, #efefef);
  align-items: center;
  width: 100%;
}

.q_mult_choice_option_selected {
  font-weight: 500;
}

.q_check_box_off {
  background-color: #fff;
  border: 1px solid #b9b9b9;
  width: 18px;
  height: 18px;
  border-radius: 2px;
}

.q_multi_choice_box_2 {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.q_mult_choice_option_2 {
  border-radius: 15px;
  padding: 2px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* color: rgba(0, 0, 0, 0.74); */
  color: var(--Neutral-Black-100, #939393);
  /* font-family: Figtree; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #ececec;
}

.q_mult_choice_option_2_select {
  border-radius: 15px;
  padding: 2px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
  background: linear-gradient(84deg, #9035ff 0.36%, #0065ff 100.36%);
  /* height: 40px; */
}
