.q_prev_button_main_cont {
  /* color: var(--Neutral-Black-400, #2c2c2c); */
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: flex; 
  padding: 10px 16px; 
  justify-content: center; 
  align-items: center; 
  gap: 4px;
  width: 100%;
  flex: 1 0 0; 
  border-radius: 10px;
  border: 1.5px solid var(--Neutral-White-300, #efefef);
  background: var(--Neutral-White-100, #fff); 
  cursor: pointer;
}
