.q_share_link_button_2 {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1.5px solid var(--Neutral-White-300, #EFEFEF);
    background: var(--Neutral-White-100, #FFF);
    cursor: pointer;
}

.q_time_left{
    display: flex;
    gap: 12px;
}

.q_time_left>div{
    display: flex;
    padding: 20px 12px;
    border-radius: 10px;
    background: #FBFBFB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    width: 80px;
}

.q_time_left_text{
    align-self: stretch;
    color: #939393;
    /* font-family: Figtree; */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
}