*::-webkit-scrollbar {
  display: none;
}

.helphubIconUpperCont {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}

.helhubIconCont {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0056ff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  cursor: pointer;
  opacity: 0;
}

.helhubIconCont:hover {
  transform: scale(1.2);
}

.helpHubMainCont {
  position: absolute;
  right: 10px;
  bottom: 65px;
  max-height: 760px;
  width: 440px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0px 4px 20px 4px rgba(87, 87, 87, 0.08);
  overflow: hidden;
  opacity: 0;
  /* Set initial opacity to 0 */
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.animated {
  opacity: 1;
  transform: translateY(0);
}

.helpHubMainInnerCont {
  display: flex;
  gap: 40px;
  flex-direction: column;
  padding: 40px 20px;
  align-items: flex-start;
  /* border: 1px solid red; */
  background: linear-gradient(
    28deg,
    rgba(255, 255, 255, 1) 33.51%,
    #9035ff 62.67%,
    #0065ff 76.97%
  );
  height: calc(100vh - 224px);
  overflow-x: hidden;
}

.MainImgCont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.QuestWhiteLogoCont {
  display: flex;
  /* padding: 8px; */
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #9065ff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.QuestWhiteLogoCont > img {
  width: 20px;
  height: 20px;
}

.helpHubImageCont {
  display: flex;
}

.helpHubImageCont > :first-child {
  transform: translateX(20px);
}

.helpHubImageCont > :nth-child(2) {
  transform: translateX(10px);
}

.helpHubImageCont > :nth-child(3) {
  transform: translateX(0px);
}

.helpHubImage {
  width: 40px;
  height: 40px;
}

.q-helphub-InnerCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.helpHubImage > img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.HelloCont {
  width: 100%;
}

.HelloText {
  color: var(--Neutral-White-100, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -1.44px;
}

.q-helhub-Send-Cont {
  display: flex;
  /* border: 1px solid black; */
  padding: 12px 20px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  margin-top: 12px;
  justify-content: space-between;
  border-radius: var(--12, 12px);
  border: 1.5px solid var(--Neutral-White-300, #efefef);
  background: var(--Neutral-White-100, #fff);
  box-shadow: 0px 4px 20px 4px rgba(87, 87, 87, 0.08);
  cursor: pointer;
  margin-top: 28px;
}

.q-helhub-Send-Cont-aero {
  transform: rotateZ("90deg");
}
.q-helhub-Send-Cont-aero img {
  transform: rotate(-90deg);
}

.q-helphub-send-msg {
  color: var(--Neutral-Black-500, #0d0d0d);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.q-helphub-send-desc {
  color: var(--Neutral-Black-100, #939393);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 4px;
}

.q-helhub-search-community {
  width: 100%;
}

.q-helhub-search-community-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 12px;
  border: 1.5px solid var(--Neutral-White-300, #efefef);
  background: var(--Neutral-White-100, #fff);
  box-shadow: 0px 4px 20px 4px rgba(87, 87, 87, 0.08);
  padding: 20px;
}

.q-helphub-search-input-cont {
  display: flex;
  padding: 0px 16px;
  align-items: center;
  /* gap: 20px; */
  justify-content: space-between;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Neutral-White-400, #e0e0e0);
  /* background: var(--Neutral-White-100, #fff); */
  gap: 20px;
}

.q-helphub-search-input {
  flex: 1 0 0;
  height: 40px;
  border: none;
  color: var(--Neutral-Black-100, black);
  /* Body lg/400 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background: transparent;
  /* 150% */
}

.q-helphub-search-input:focus {
  outline: none;
  border: none;
}

.q-helphub-search-messege {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.q-helphub-search-messege-title {
  color: var(--Neutral-Black-400, #2c2c2c);
  /* Body md/400 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.q-helphub-search-messege-cont {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.helphubBottomCont {
  /* border: 1px solid black; */
  /* height: 20px; */
  display: flex;
  margin-top: auto;
  width: 100%;
  flex-direction: column;
}

.helphubSvgCont {
  display: flex;
  padding: 12px 20px;
  align-items: flex-start;
  align-self: stretch;
  /* background: var(--Neutral-White-100, #fff); */
  box-shadow: 0px -16px 16px 0px rgba(0, 0, 0, 0.04);
  /* width: 100%; */
}

.helphubSvgCont > div {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.helphubSvgTitle {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  color: var(--Neutral-White-500, #b9b9b9);
}

.helphubFooterCont {
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  background: var(--Neutral-White-200, #fbfbfb);
  height: 12px;
}

.helphubFooterText {
  color: var(--Neutral-Black-100, #939393);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  /* 120% */
  letter-spacing: -0.1px;
  flex: 1 0 0;
}

.q-helphub-quest-community-cont {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 12px;
  border: 1.5px solid var(--Neutral-White-300, #efefef);
  background: var(--Neutral-White-100, #fff);
  box-shadow: 0px 4px 20px 4px rgba(87, 87, 87, 0.08);
}

.q-helphub-quest-community-imageCont {
  width: 100%;
  height: 200px;
}

.q-helphub-quest-community-imageCont > img {
  width: 100%;
  height: 100%;
}

.q-helphub-quest-community-descCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.q-helphub-quest-community-desc {
  overflow: hidden;
  color: var(--Neutral-Black-500, #0d0d0d);
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
}

.q-helphub-quest-community-full-desc {
  color: var(--Neutral-Black-100, #939393);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.q-helphub-search-updates {
  display: flex;
  /* width: 400px; */
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 12px;
  border: 1.5px solid var(--Neutral-White-300, #efefef);
  background: var(--Neutral-White-100, #fff);
  /* card */
  box-shadow: 0px 4px 20px 4px rgba(87, 87, 87, 0.08);
  /* width: 360px; */
}

.q-helphub-updates-unread {
  display: flex;
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50px;
}

.q-helphub-updates-unread-span1 {
  display: inline-flex;
  position: absolute;
  border-radius: 50px;
  width: 8px;
  height: 8px;
  opacity: 0.75;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1.5) infinite;
  background: #9035ff;
}

.q-helphub-updates-unread-span2 {
  display: inline-flex;
  position: relative;
  border-radius: 9999px;
  width: 8px;
  height: 8px;
  background: #9035ff;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.q-helphub-updates-innercont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.q-helphub-updates-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.q-helphub-updates-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.q-helphub-updates-innerCont1 :nth-child(1) {
  color: var(--Neutral-Black-300, #4c4c4c);
  /* Body lg/500 */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
}

.q-helphub-updates-innerCont1 :nth-child(2) {
  align-self: stretch;
  overflow: hidden;
  color: var(--Neutral-White-500, #b9b9b9);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
}

.q-helphub-updates-innerCont2 :nth-child(1) {
  color: var(--Neutral-Black-100, #939393);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.q-helphub-updates-innerCont2 :nth-child(2) {
  overflow: hidden;
  color: var(--Neutral-White-400, #e0e0e0);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
}

.q-helphub-update-mainCont {
  width: 100%;
}

.q-helphub-updates-button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1.5px solid #d1acff;
  background: var(
    --Primary,
    linear-gradient(84deg, #9035ff 0.36%, #0065ff 100.36%)
  );
  color: var(--Neutral-White-100, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-top: -6px;
}

/* complete profile  */
.q-helphub-compProfile {
  display: flex;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 12px;
  border: 1.5px solid var(--Neutral-White-300, #efefef);
  background: var(--Neutral-White-100, #fff);

  /* card */
  box-shadow: 0px 4px 20px 4px rgba(87, 87, 87, 0.08);
  box-sizing: border-box;
}

.q-helphub-compProfile-text-con {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.q-helphub-compProfile-heading-cont {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.q-helphub-compProfile-heading-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--Neutral-Black-500, #0d0d0d);
  text-overflow: ellipsis;

  /* Title sm/600 */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: -0.18px;
}

.q-helphub-compProfile-para-text {
  align-self: stretch;
  color: var(--Neutral-Black-100, #939393);

  /* Body md/400 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.q-helphub-compProfile-progress-con {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.q-helphub-compProfile-progress-per {
  align-self: stretch;
  color: var(--Primary-Grape-500, #9035ff);

  /* Body sm/600 */
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  /* 133.333% */
}

.q-helphub-compProfile-progress-bar-con {
  height: 6px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Neutral-White-300, #efefef);
}

.q-helphub-compProfile-progress-bar {
  height: 6px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Primary-Grape-500, #9035ff);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 0.7s;
}

/* Review  */
.q-helphub-review {
  /* display: flex; */
  width: 100%;
  padding: 20px;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  border: 1.5px solid var(--Neutral-White-300, #efefef);
  background: var(--Neutral-White-100, #fff);

  /* card */
  box-shadow: 0px 4px 20px 4px rgba(87, 87, 87, 0.08);
  box-sizing: border-box;
  position: relative;
  display: none;
}

.q-helphub-review.q-show-feedback {
  display: flex;
}

.q-helphub-review-loader-con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.q-helphub-review-loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.q-helphub-review-text-emoji-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}

.q-helphub-review-text-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.q-helphub-review-text-head {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: var(--Neutral-Black-500, #0d0d0d);
  text-overflow: ellipsis;

  /* Title sm/600 */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.18px;
}

.q-helphub-review-text-para {
  height: 43px;
  align-self: stretch;
  overflow: hidden;
  color: var(--Neutral-Black-100, #939393);
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* emoji  */
.q-helphub-review-emoji-caption-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.q-helphub-review-emoji-cont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  box-sizing: border-box;
}

.q-helphub-review-emoji-cont img {
  display: flex;
  height: 40px;
  width: 40px;
  padding: 12px 10px;
  border-radius: 10px;
  border: 1.5px solid var(--warning-2, #feb872);
  background: #fff2d1;
  cursor: pointer;
}

.q-helphub-review-emoji-caption {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.q-helphub-review-emoji-caption div {
  color: var(--Grey-0, var(--Neutral-Grey-200, #afafaf));

  /* Body sm/400 */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

/************Complete Chat section CSS Starts here***********/

.helpHubChat {
  height: 100%;
}

/* heading style  */
.q-helphub-chatpage-upper-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-bottom: 1px solid var(--Neutral-White-300, #efefef);
}

.q-helphub-chatpage-text-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.q-helphub-chatpage-head-para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.q-helphub-chatpage-heading {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: var(--Neutral-Black-400, #2c2c2c);
  text-overflow: ellipsis;

  /* Title md/600 */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 150% */
  letter-spacing: -0.4px;
}

.q-helphub-chatpage-para {
  align-self: stretch;
  color: var(--Neutral-Black-100, #939393);

  /* Body sm/400 */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

.q-helphub-chatpage-btn-container {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
  cursor: pointer;
}

/* heading style end here  */

/* lower container  */
.q-helphub-chatpage-lower-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  height: 100px;
  overflow: hidden;
  min-height: calc(100% - 131px);
  overflow-y: scroll;
}

.q-helphub-chatpage-lower-container::-webkit-scrollbar {
  display: none;
}

/* for personal chats  */
.q-helphub-personal-chat {
  position: absolute;
  padding: 20px;
  overflow: hidden;
  height: 100%;
  top: -20px;
}

.q-helphub-personal-chat .sec-div .personal-chat-messages-cont {
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  background: var(--Neutral-White-100, #fff);
  min-height: calc(100% - 30px);
  height: 1px;
  overflow-y: scroll;
}

.q-helphub-personal-chat .personal-chat-upper-cont {
  display: flex;
  /* width: 440px; */
  padding: 16px 20px;
  align-items: center;
  gap: 8px;
  background: var(--Neutral-White-200, #fbfbfb);
}

.personal-chat-upper-cont div {
  flex: 1 0 0;
  color: var(--Neutral-Black-300, #4c4c4c);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.18px;
}

.personal-chat-upper-cont img {
  cursor: pointer;
}

.personal-chat-upper-cont .goto-chats {
  transform: rotate(90deg);
}

.personal-chat-messages-cont {
  /* display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  background: var(--Neutral-White-100, #FFF);
personal-chat-messages-cont
  flex: 1 0 0; */
  /* background-color: #0056ff; */
  /* height: 446px; */
  /* background-color: #9035FF; */
  /* height: calc(100% - 1000px); */
  /* min-height: 100px; */
  /* max-height: calc(100% - 400px); */
  /* background-color: blue; */
  /* min-height: calc(100% - 1000px); */
  /* height: 1000px; */
  /* overflow: hidden; */
  /* overflow-y: scroll; */
  /* overflow-y: scroll; */
  /* min-height: calc(100vh - 800px); */
  /* height: 1px; */
  /* height: 100px; */
  /* background-color: ; */
  /* overflow: hidden; */
}

.personal-gen-feed {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  align-self: stretch;
  border-bottom: 1px solid var(--Neutral-White-300, #efefef);
}

.gen-feed-img-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  position: relative;
}

.gen-feed-img-cont div {
  background-color: gray;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.gen-feed-img-cont .mid {
  position: absolute;
  left: 38px;
  top: -6px;
  border-radius: 12px;
  border: 4px solid var(--Neutral-White-100, #fff);
  background: var(--Primary-Grape-500, #9035ff);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.personal-gen-feed-text-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.personal-gen-feed-text-cont .gen-head {
  align-self: stretch;
  color: var(--Neutral-Black-400, #2c2c2c);
  text-align: center;

  /* Title md/600 */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 150% */
  letter-spacing: -0.4px;
}

.personal-gen-feed-text-cont .gen-para {
  align-self: stretch;
  color: var(--Neutral-White-500, #b9b9b9);
  text-align: center;

  /* Body sm/400 */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

.personal-chat-messages-cont-conver {
  display: flex;
  height: 374px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.personal-chat-messages-cont-conver .sender-messages {
  display: flex;
  width: 400px;
  align-items: flex-end;
  gap: 8px;
}

.multiple-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}

.multiple-messages div {
  display: flex;
  padding: 12px;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
  background: var(--Neutral-White-200, #fbfbfb);
}

.multiple-messages div p {
  width: 240px;
  color: var(--Neutral-Black-300, #4c4c4c);
  text-align: start;
  /* Body md/400 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.receiver-messages {
  display: flex;
  width: 400px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
}

.receiver-messages div {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--Primary-Grape-100, #f4ebff);
}

.receiver-messages div > p {
  width: 240px;
  color: var(--Primary-Grape-700, #58209c);

  /* Body md/400 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.personal-messages-send-message-cont {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: var(--Neutral-White-100, #fff);
}

.personal-messages-send-message-cont .message-input {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.personal-messages-send-message-cont .message-input input {
  color: var(--Neutral-Black-100, #939393);

  /* Body lg/400 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: none;
  outline: none;
  /* 150% */
}

.send-message-emojis {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.send-message-emojis img {
  width: 20px;
  height: 20px;
}

/* for personal chats ends */

.q-helphub-search-chats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.q-helphub-search-container {
  display: flex;
  padding: 0px 16px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Neutral-White-400, #e0e0e0);
  /* background: var(--Neutral-White-100, #FFF); */
}

.q-helphub-search-input {
  align-self: stretch;
  color: var(--Neutral-Black-100, #939393);

  /* Body lg/400 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.q-helphub-chats-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.q-helphub-chats-section::-webkit-scrollbar {
  display: none;
}

/* for one chats  */
.q-helphub-chat-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  align-self: stretch;
  /* background-color: red; */
}

.q-helphub-chat-sender-profile {
  display: flex;
  width: 40px;
  height: 40px;
  /* padding: 8px; */
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 48px;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.q-helphub-chat-message {
  padding: 12px 0px;
  flex: 1 0 0;
  border-bottom: 1px solid var(--Neutral-White-300, #efefef);
}

.q-helphub-chat-sender-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--Neutral-Black-300, #4c4c4c);
  text-overflow: ellipsis;
  padding-bottom: 4px;
  /* Body lg/600 */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.q-helphub-chat-sender-message {
  height: 32px;
  align-self: stretch;
  overflow: hidden;
  color: var(--Neutral-White-500, #b9b9b9);
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.q-helphub-chat-btn {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.q-helphub-chat-btn img {
  transform: rotateZ(-90deg);
}

.q-helphub-chats-search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.profile {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 48px;
}

/* single chat  */

.q-helphub-send-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  align-self: stretch;
  /* box-shadow: 0px 4px 28px 4px rgba(144, 53, 255, 0.12); */
  background-color: transparent;
  position: absolute;
  left: 50%;
  bottom: 90px;
  transform: translate(-50%, -50%);
}

.q-helphub-send-message div {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1.5px solid #d1acff;
  background: linear-gradient(84deg, #9035ff 0.36%, #0065ff 100.36%);
  cursor: pointer;
}

.q-helphub-send-message p {
  color: var(--Neutral-White-100, #fff);

  /* Body md/600 */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

/* Help style start here  */
.helpHubHelpCont {
  height: 100%;
}

.q-helphub-help-upper-cont {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-bottom: 1px solid var(--Neutral-White-300, #efefef);
  /* background: var(--Neutral-White-100, #FFF); */
}

.q-helphub-help-upper-cont-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  align-self: stretch;
}

.q-helphub-help-upper-cont-text div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  /* flex: 1 0 0; */
}

.q-helphub-help-upper-cont-text-head {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: var(--Neutral-Black-400, #2c2c2c);
  text-overflow: ellipsis;

  /* Title md/600 */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 150% */
  letter-spacing: -0.4px;
}

.q-helphub-help-upper-cont-text-para {
  align-self: stretch;
  color: var(--Neutral-Black-100, #939393);

  /* Body sm/400 */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

.q-helphub-help-upper-cont-text-button {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
  /* background: var(--Neutral-White-200, #FBFBFB); */
  cursor: pointer;
}

.q-helphub-help-lower-cont {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  /* background: var(--Neutral-White-100, #FFF); */
  min-height: calc(100% - 110px);
  height: 1px;
  /* overflow: hidden; */
  overflow-y: scroll;
}

.q-helphub-help-lower-cont::-webkit-scrollbar {
  display: none;
}

.q-helphub-help-lower-cont-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.q-helphub-help-search-cont {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Neutral-White-400, #e0e0e0);
  /* background: var(--Neutral-White-100, #FFF); */
}

.q-helphub-help-search-cont input {
  align-self: stretch;
  color: var(--Neutral-Black-100, #939393);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
}

.q-helphub-help-faqs-cont {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex: 1 0 0;
}

.q-helphub-help-faqs-cont::-webkit-scrollbar {
  display: none;
}

.q-helphub-help-total-faqs {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-bottom: 1.5px solid var(--Neutral-White-300, #efefef);
  /* background: var(--neutral-opacity-white-80, rgba(255, 255, 255, 0.80)); */
}

.q-helphub-help-total-faqs div {
  align-self: stretch;
  color: var(--Grey--5, #000);

  /* Body md/400 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.q-helphub-help-total-faqs-cont {
  width: 100%;
}

/* close  */
.q-helphub-help-single-faq-close {
  display: flex;
  width: 100%;

  padding: 20px 0px;
  /* padding: 50px; */
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  align-self: stretch;
  border-bottom: 1.5px solid var(--Neutral-White-300, #efefef);
  /* background: var(--Neutral-White-100, #FFF); */
}

.q-helphub-help-single-faq-close .text {
  width: 100%;
  display: flex;
  gap: 20px;
  align-self: stretch;
  justify-content: space-between;
  cursor: pointer;
}

.q-helphub-help-single-faq-close .text .head {
  align-self: stretch;
  color: var(--Neutral-Black-100, #939393);
  /* Body lg/500 */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
}

.q-helphub-help-single-faq-close .text .but {
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.q-helphub-help-single-faq-close .ans {
  display: none;
}

/* open  */
.q-helphub-help-single-faq-open {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-bottom: 1.5px solid var(--Neutral-White-300, #efefef);
  /* background: var(--Neutral-White-100, #FFF); */
  cursor: pointer;
}

.q-helphub-help-single-faq-open .text {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  justify-content: space-between;
}

.q-helphub-help-single-faq-open .text .head {
  align-self: stretch;
  color: var(--Neutral-Black-400, #2c2c2c);

  /* Body lg/600 */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.q-helphub-help-single-faq-open .text .but {
  transform: rotateZ(180deg);
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.q-helphub-help-single-faq-open .ans {
  align-self: stretch;
  color: var(--Neutral-White-500, #b9b9b9);
  /* Body md/400 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

/* updates style start here  */

.helpHubUpdatesCont {
  height: 100%;
}

.q-helphub-updates-upper-cont {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-bottom: 1px solid var(--Neutral-White-300, #efefef);
}

.q-helphub-updates-upper-cont-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  align-self: stretch;
}

.q-helphub-updates-upper-cont-text div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  /* flex: 1 0 0; */
}

.q-helphub-updates-upper-cont-text-head {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: var(--Neutral-Black-400, #2c2c2c);
  text-overflow: ellipsis;

  /* Title md/600 */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 150% */
  letter-spacing: -0.4px;
}

.q-helphub-updates-upper-cont-text-para {
  align-self: stretch;
  color: var(--Neutral-Black-100, #939393);

  /* Body sm/400 */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

.q-helphub-updates-upper-cont-text-button {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.q-helphub-updates-lower-cont {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  min-height: calc(100% - 138px);
  height: 10px;
  overflow-y: scroll;
}

.q-helphub-updates-lower-cont::-webkit-scrollbar {
  display: none;
}

.q-helphub-updates-lower-cont-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.q-helphub-updates-search-cont {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Neutral-White-400, #e0e0e0);
}

.q-helphub-updates-search-cont input {
  align-self: stretch;
  color: var(--Neutral-Black-100, #939393);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
}

.q-helphub-updates-task-cont {
  height: 0px;
  width: 100%;
}

.q-helphub-updates-task-cont::-webkit-scrollbar {
  display: none;
}

/* for unread task  */
.q-helphub-updates-single-update-unread {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-bottom: 1.5px solid var(--Neutral-White-300, #efefef);
  cursor: pointer;
}

.q-helphub-updates-single-update-unread .update-time {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  /* 142.857% */
}

.q-helphub-updates-single-update-unread .update-time div {
  /* flex: 1 0 0; */
  color: var(--Primary-Grape-500, #9035ff);
  /* Body md/500 */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.q-helphub-updates-single-update-unread .update-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  align-self: stretch;
}

.q-helphub-updates-single-update-unread .update-question .ques {
  align-self: stretch;
  color: var(--Primary-Grape-500, #9035ff);

  /* Body lg/600 */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.update-question .q-hh-btn {
  transform: rotateZ(-90deg);
}

.q-helphub-updates-single-update-unread .update-message {
  align-self: stretch;
  color: var(--Neutral-White-500, #b9b9b9);

  /* Body md/400 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

/* for read task  */
.q-helphub-updates-single-update-read {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-bottom: 1.5px solid var(--Neutral-White-300, #efefef);
  cursor: pointer;
  width: 100%;
}

.q-helphub-updates-single-update-read .update-time {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  /* 142.857% */
}

.q-helphub-updates-single-update-read .update-time div {
  flex: 1 0 0;
  color: var(--Neutral-White-500, #b9b9b9);

  /* Body md/500 */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.q-helphub-updates-single-update-read .update-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  align-self: stretch;
}

.q-helphub-updates-single-update-read .update-question .ques {
  align-self: stretch;
  color: var(--Neutral-Black-400, #2c2c2c);

  /* Body lg/500 */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  /* 150% */
}

.q-helphub-updates-single-update-read .update-message {
  align-self: stretch;
  color: var(--Neutral-White-500, #b9b9b9);

  /* Body md/400 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

/* Task Style starts here  */
.helpHubTaskCont {
  height: 100%;
}

.q-helphub-tasks-upper-cont {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-bottom: 1px solid var(--Neutral-White-300, #efefef);
  /* background: var(--Neutral-White-100, #FFF); */
}

.q-helphub-tasks-upper-cont-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  align-self: stretch;
}

.q-helphub-tasks-upper-cont-text div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  /* flex: 1 0 0; */
}

.q-helphub-tasks-upper-cont-text-head {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: var(--Neutral-Black-400, #2c2c2c);
  text-overflow: ellipsis;

  /* Title md/600 */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 150% */
  letter-spacing: -0.4px;
}

.q-helphub-tasks-upper-cont-text-para {
  align-self: stretch;
  color: var(--Neutral-Black-100, #939393);

  /* Body sm/400 */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

.q-helphub-tasks-upper-cont-text-button {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
  /* background: var(--Neutral-White-200, #FBFBFB); */
}

.q-helphub-tasks-lower-cont {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  /* background: var(--Neutral-White-100, #FFF); */
  min-height: calc(100% - 110px);
  height: 1px;
  /* overflow: hidden; */
  overflow-y: scroll;
}

.q-helphub-tasks-lower-cont::-webkit-scrollbar {
  display: none;
}

.q-helphub-tasks-lower-cont-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.q-helphub-tasks-search-cont {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Neutral-White-400, #e0e0e0);
  /* background: var(--Neutral-White-100, #FFF); */
}

.q-helphub-tasks-search-cont input {
  align-self: stretch;
  color: var(--Neutral-Black-100, #939393);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.q-helphub-tasks-progress-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.q-helphub-tasks-progress-per {
  align-self: stretch;
  color: var(--Primary-Grape-500, #9035ff);

  /* Body sm/600 */
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  /* 133.333% */
}

.q-helphub-tasks-progress-bar {
  height: 6px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Neutral-White-300, #efefef);
}

.q-helphub-tasks-progress-bar div {
  height: 6px;
  transition-duration: 0.7s;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Primary-Grape-500, #9035ff);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
}

.q-helphub-tasks-task-cont {
  overflow-y: scroll;
  width: 100%;
}

.q-helphub-tasks-task-cont::-webkit-scrollbar {
  display: none;
}

.q-helphub-tasks-single-task {
  display: flex;
  padding: 20px 0px;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  align-self: stretch;
  border-bottom: 1.5px solid var(--Neutral-White-300, #efefef);
  /* background: var(--Neutral-White-100, #FFF); */
  cursor: pointer;
  width: 100%;
}

.q-helphub-tasks-single-task-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.q-helphub-tasks-single-task-step {
  align-self: stretch;
  color: var(--Neutral-White-500, #b9b9b9);

  /* Caption/600 */
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  /* 120% */
  letter-spacing: -0.1px;
}

.q-helphub-tasks-single-task-head {
  align-self: stretch;
  color: var(--Neutral-Black-400, #2c2c2c);

  /* Body lg/600 */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.q-helphub-tasks-single-task-para {
  align-self: stretch;
  color: var(--Neutral-White-500, #b9b9b9);

  /* Body sm/400 */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

.q-helphub-tasks-single-task-status {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 48px;
  background: var(--Extension-Aqua-100, #ebfff7);
}

.q-chat-personal-container {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  height: calc(100% - 112px);
}

.q-chat-personal-container-header {
  display: flex;
  padding: 16px 20px;
  align-items: center;
  gap: 8px;
  background: #fbfbfb;
}

.q-chat-personal-container-header-title {
  color: #4c4c4c;
  text-align: center;
  font-family: Figtree;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.18px;
  flex: 1 0 0;
}

.q-chat-personal-container-footer {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 8px;
  margin-top: auto;
  height: 64px;
  box-sizing: border-box;
  /* background-color: red; */
}

.q-chat-personal-container-footer-icons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.q-chat-personal-container-footer-input {
  flex: 1 0 0;
  border: none;
  outline: none;
  background: transparent;
  color: #4c4c4c;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.q-chat-personal-container-body {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  align-self: stretch;
  border-bottom: 1px solid #efefef;
}

.q-chat-personal-container-body-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.q-chat-personal-container-body-icons-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 60px;
  height: 60px;
  border: 4px solid var(--Neutral-White-100, #fff);
  background: var(--Primary-Grape-500, #9035ff);
  position: relative;
}
.q-chat-personal-container > .q-chat-personal-container-body-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-bottom: 1px solid #efefef;
  overflow-y: scroll;
  /* max-height: 350px; */
  /* height: 100%; */
  /* max-height: calc(100% - 350px); */
  /* background-color: yellow; */
  /* height: 100px; */
  /* height: calc(100% - 300px); */
  max-height: calc(100% - 60px);

  /* position: relative; */
}

.q-chat-personal-container-body-icons-img1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.q-chat-personal-container-body-icons-img1 img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.chat-container {
  width: 100%;
  /* height: 30px; */
  height: calc(100%);
  /* position: relative; */
  /* background-color: yellow; */
}

.message {
  padding: 10px;
  margin-bottom: 10px;
}

.sender {
  background-color: #f4ebff;
  margin-left: auto;
  width: 70%;
  word-break: break-word;
  color: #58209c;
  border-radius: 5px 5px 0 5px;
}

.receiver {
  background-color: #fbfbfb;
  align-self: flex-start;
  width: 70%;
  word-break: break-word;
  border-radius: 5px 5px 5px 0;
}

.q-chat-personal-container-body-title {
  color: #2c2c2c;
  text-align: center;
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.4px;
}
.q-chat-personal-container-body-description {
  color: #b9b9b9;
  text-align: center;
  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.chat-profile-img-sender {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 5.6px;
  flex-shrink: 0;
  border-radius: 5.6px;
  margin-top: auto;
}

.chat-profile-img-sender img {
  width: 28px;
  height: 28px;
  border-radius: 5.6px;
}

.chat-profile-img-receiver {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 5.6px;
  flex-shrink: 0;
  border-radius: 5.6px;
  background: #9035ff;
  margin-top: auto;
}

.chat-profile-img-receiver img {
  width: 14px;
  height: 14px;
}

/* typng indicators */
.chat-bubble {
  background-color: #fbfbfb;
  padding: 16px 28px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display: inline-block;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  /* //rgba(20,105,69,.7); */
  background-color: #6cad96;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    /* // rgba(20,105,69,.7); */
    background-color: #6cad96;
  }
  28% {
    transform: translateY(-7px);
    /* //rgba(20,105,69,.4); */
    background-color: #9ecab9;
  }
  44% {
    transform: translateY(0px);
    /* //rgba(20,105,69,.2); */
    background-color: #b5d9cb;
  }
}

.message-failed {
  /* background-color: #d7d7d7fe; */
  background-color: #fbfbfb;
  /* margin-left: auto; */
  width: 52%;
  padding: 10px;
  margin: 10px 0 10px 0;
  word-break: break-word;
  font-size: 12px;
  text-align: center;
  /* color: #58209c; */
  color: #000;
  border-radius: 5px;
  color: red;
  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
}
