.q_feed_back_modal {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    width: 376px;
    background: white;
}
.q_feed_back_modal_head {
    display: flex;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    border-bottom: 1px solid #EFEFEF;
    align-items: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.q_modal_heading {
    color: #2C2C2C;
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.4px;
    text-overflow: ellipsis;
}

.q_modal_desc {
    color: #939393;
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.q_modal_content {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.q_modal_content .q_modal_desc {
    text-align: center;
}

.q_modal_buttons {
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.q_modal_cancel {
    display: flex;
    padding: 10px 16px;
    border-radius: 10px;
    border: 1.5px solid var(--Neutral-White-300, #EFEFEF);
    background: var(--Neutral-White-100, #FFF);
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    flex: 1 0 0;
}

.q_modal_upload_button {
    display: flex;
    padding: 10px 16px;
    border-radius: 10px;
    border: 1.5px solid #D1ACFF;
    background: linear-gradient(84deg, #9035FF 0.36%, #0065FF 100.36%);
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    cursor: pointer;
    color: #FFF;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.q_modal_upload_text {
    align-self: stretch;
    color: #2C2C2C;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.q_modal_upload_mini_text {
    align-self: stretch;
    color: #B9B9B9;
    font-family: Figtree;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.1px;
    text-align: center;
}

.q_modal_upload_box {
    display: flex;
    padding: 32px 12px;
    border-radius: 10px;
    border: 1px dashed #E0E0E0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.q_modal_reward_img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.q_modal_reward_content{
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    text-align: center;
}