.q_leaderboard_main_cont {
  padding: 0px 20px;
  height: 840px;
  width: 100%;
  background: linear-gradient(
    14deg,
    rgba(255, 255, 255, 0) 36.47%,
    #9035ff 60.34%,
    #0065ff 73.12%
  );
  position: relative;
  border-radius: 12px;
  box-sizing: border-box;
  font-family: Figtree;
}

.q_leaderboard_main_heading {
  overflow: hidden;
  color:  #fff;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.48px;
  padding: 40px 0px;
}
.q_position_main_container {
  width: 100%;
}

.q_position_cont {
  display: flex;
  /* width: 400px; */
  height: 452px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background:  #fff;
  box-shadow: 0px 4px 20px 4px rgba(87, 87, 87, 0.08);
  bottom: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 4;
}
::-webkit-scrollbar {
  display: none;
}
.q_position_leaderboardcard_cont {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  box-sizing: border-box;
  position: relative;
  z-index: 4;
  overflow: auto;
}
.q_position_heading {
  color: #0d0d0d;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.18px;
  margin-bottom: 4px;
}
.q_description {
  color:  #b9b9b9;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  margin-bottom: 12px;
}

.q_leaderboardcard_main_cont {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-bottom: 1px solid #efefef;
}
.q_name_cont {
  width: 100%;
}

.q_profile_cont {
  display: flex;
  width: 48px;
  height: 48px;
  gap: 8px;
  border-radius: 48px;
}

.q_count_base {
  display: flex;
  flex-shrink: 0;
  padding: var(--4, 4px);
  gap: var(--8, 8px);
  border-radius: 40px;
  background: #f4ebff;
  color: #9035ff;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: -0.1px;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
}
.q_name_small_cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.q_leaderboardcard_progressbar {
  height: 8px;
  background:  #ececec;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0px;
}

.LeaderBoardCardProgressBarinner {
  background: #9035ff;
  height: 100%;
  border-radius: 5px;
  width: 100px;
  transition: width 0.5s ease;
}

.q_trophy_cont {
  width: 16px;
  height: 16px;
  padding: 4px;
  border-radius: 48px;
  background: #f4ebff;
}

.q_leaderboardcard_points {
  color: #9035ff;

  /* Body sm/500 */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.q_leaderboardcard_name_head {
  color:  #2c2c2c;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.q_topleaderboard_main_cont {
  display: flex;
  position: relative;
  top: 20px;
}

.q_topleaderboard_first {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 272px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background:  rgba(255, 255, 255, 0.2);
}

.q_footer_leaderboard {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 4;
}

.q_topleaderboard_second {
  box-sizing: border-box;
  width: 100%;
  height: 244px;
  border-radius: 10px;
  /* position: absolute; */
  bottom: 0;
  left: 4px;
  background:  rgba(255, 255, 255, 0.2);
}

.q_topleaderboard_third {
  box-sizing: border-box;
  width: 100%;
  height: 244px;
  border-radius: 10px;
  /* position: absolute; */
  bottom: 0;
  right: 4px;
  background:  rgba(255, 255, 255, 0.2);
}

.q_topleaderboard_innercard {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 52px 16px 32px 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.q_topleaderboard_inner_image {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.q_topleaderboard_inner_image_first {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.q_topleaderboard_name {
  align-self: stretch;
  color:  #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.q_topleaderboard_point {
  color:  #9035ff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background:  #fff;
  text-align: center;
}

.q_topleaderboard_container{
  position: relative;
  display: flex;
  width: 100%;;
  align-items: center;
  gap: 20px;
  box-sizing: content-box;
}