.q-tutorial-cont {
  background-color: white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 14px;
  padding-bottom: 1px;
  max-width: 376px;
}

.q-tut-div {
  font-family: 'Figtree';
  text-align: left;
  box-sizing: content-box;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 376px;
  align-items: center;
}

.q-tut-head {
  overflow: hidden;
  color: var(--Neutral-Black-400, #2C2C2C);
  font-family: 'Figtree';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: -0.4px;
}

.q-tut-subhead {
  color: #939393;
  font-family: 'Figtree';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.q-tut-bar-icons {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.q-tut-cont {
  margin-bottom: 1rem;
}

.progress-bar-container {
  margin: 20px 10px 20px 0px;
  background-color: #e5e7eb;
  height: 8px;
  border-radius: 50px;
  width: 100%;
}

.progress-bar-fill {
  height: 8px;
  border-radius: 50px;
}

.step-counter {
  display: flex;
  justify-content: space-between;
  color: #718096;
  margin-top: 1rem;
}

.q-tut-label {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.25rem;
  margin-right: 0.75rem;
  text-align: center;
  cursor: pointer;
}

.q-tut-label.completed {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
}

.q-tut-label.incomplete {
  border-color: #ccc;
  color: transparent;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
}

.q-tut-step {
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}

.q-tut-title-completed {
  color: var(--neutral-grey-300, #8E8E8E);
}

.q-tut-title-notcompleted {
  color: var(--neutral-grey-700, #252525);
}

.q-tut-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.q-tut-button {
  background-color: #f7f4f4;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.q-tut-btn-cont {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  color: var(--neutral-grey-700, #252525);
  width: 80%;
  font-size: 16px;
  margin: auto;
  box-sizing: content-box;
  padding: 10px 20px;line-height: 24px; /* 150% */
  font-weight: 500;
  margin-bottom: 27px;
  border: 2px solid var(--neutral-grey-600, #2B2B2B);
  border-radius: 10px;
}

.q-tut-btn {
  margin: auto;
  border: none;
  background-color: white;
  cursor: pointer;
  text-align: center;
  color: var(--neutral-grey-700, #252525);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.q-tut-btn:disabled {
  cursor: not-allowed;
  color: gray;
  border: 1.5px solid #8b8b8b;
}

.progress-bar-fill,
.q-tut-cont,
.q-tut-label {
  box-sizing: border-box;
}

.q-tut-progress {
  display: flex;
  align-content: center;
  flex-direction: row-reverse;
  gap: 15px;
  margin: 15px 0 15px 10px;
}

.q_tutorial_box{
  display: flex;
  width: 336px;
  padding: 12px 0px;
  align-items: center;
  gap: 12px;
}

.q_tutorial_box_content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  gap: 4px;
  flex: 1 0 0;
}

.q_tut_step{
  color:  #B9B9B9;
  font-family: Figtree;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px; /* 120% */
  letter-spacing: -0.1px;
}

.q_tut_box_head {
  color: #2C2C2C;
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.q_tut_box_desc {
  align-self: stretch;
  color: var(--Neutral-White-500, #B9B9B9);
  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.q_tutorial_progress_icon{
  display: flex;
  padding: 8px;
  border-radius: 50%;
  background: var(--Neutral-White-200, #FBFBFB);
  align-items: flex-start;
  gap: 8px;
  box-sizing: content-box;
  z-index: 1;
  height: 16px;
  width: 16px;
}

.q_tutorial_progress{
  position: relative;
}

.q_tutorial_progress_connector{
  position: absolute;
  stroke-width: 1px;
  background:  #73DCA7;
  right: 50%;
  bottom: -55px;
  width: 2px;
  z-index: 0;
  height: 55px;
}