.q-tutorial-cont {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.q-tut-div {
  font-family: Hanken Grotesk;
  text-align: left;
  padding-bottom: 0.5rem;
  padding-top: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  padding: 10px 20px;
  align-items: center;
  /* gap: 190px; */
}

.q-tut-head {
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
}

.q-tut-subhead {
  color: #d1d5db;
  font-size: 14px;
  color: white;
}

.q-tut-bar-icons {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.q-tut-cont {
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.progress-bar-container {
  margin-top: 0.5rem;
  background-color: #e5e7eb;
  height: 10px;
  border-radius: 50px;
  width: 90%;
}

.progress-bar-fill {
  height: 10px;
  border-radius: 50px;
}

.step-counter {
  display: flex;
  justify-content: space-between;
  color: #718096;
  margin-top: 1rem;
}

.q-tut-item-cont {
  margin-bottom: 1rem;
  /* border-bottom: 1px solid #e5e7eb; */
}

.q-tut-label {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.25rem;
  margin-right: 0.75rem;
  text-align: center;
  cursor: pointer;
}

.q-tut-label.completed {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
}

.q-tut-label.incomplete {
  border-color: #ccc;
  color: transparent;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
}

.q-tut-step {
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}

.q-tut-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.q-tut-button {
  background-color: #f7f4f4;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.q-tut-btn-cont {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 95%;
}

.q-tut-btn {
  display: flex;
  width: 70px;
  height: 30px;
  padding: 2% 4%;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 6.396px;
  border: 1.5px solid #4B4B4B;
  color: #333;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
}

.q-tut-btn:disabled {
  cursor: not-allowed;
  color: gray;
  border: 1.5px solid #8b8b8b;
}

.progress-bar-fill,
.q-tut-cont,
.q-tut-label {
  box-sizing: border-box;
}

.q-tut-progress{
  display: flex;
  align-content: center;
  flex-direction: row-reverse;
  gap: 15px;
  margin: 15px 0 15px 10px;
}