.q-toast {
  position: fixed;
  top: 1rem;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  /* Keep one transition-duration */
  cursor: pointer;
  right: 4%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
  font-family: 'Figtree';
  border-radius: 5px;
}

.q-toast-msg {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 270px;
  height: 43px;
}

.q-toast-msg-div {
  font-size: 0.75rem;
  display: flex;
  gap: 10px;
  /* Ensure this is used appropriately in your layout */
  line-height: 1rem;
  font-weight: 500;
  color: #000000;
}

.q-toast-img {
  width: 15px;
  height: 15px;
}

.q-toast-x {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.q_toast_success {
  display: flex;
  height: 37px;
  box-sizing: content-box;
  padding: 12px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background: #ebfff7;
  overflow: hidden;
  color: #098849;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}

.q_toast_error {
  display: flex;
  height: 37px;
  box-sizing: content-box;
  padding: 12px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background: #FFECF1;
  overflow: hidden;
  color: #ED0A34;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}

.q_toast_warn {
  display: flex;
  height: 37px;
  box-sizing: content-box;
  padding: 12px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background: #FFFBEC;
  overflow: hidden;
  color: #FF8744;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}

.q_toast_primary {
  display: flex;
  height: 37px;
  box-sizing: content-box;
  padding: 12px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background: #E6F0FF;
  overflow: hidden;
  color: #0047B3;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}

#canvas{
  position: absolute;
  top: 0;
}