.q-toast {
  position: fixed;
  top: 1rem;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  z-index: 15;
  cursor: pointer;
  right: 4%;
  font-family: 'Figtree';
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
}

.q-toast-msg {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 270px;
  height: 43px;
}

.q-toast-msg-div {
  font-size: 0.75rem;
  display: flex;
  gap: 10px;
  /* Ensure this is used appropriately in your layout */
  line-height: 1rem;
  font-weight: 500;
  color: #000000;
}

.q-toast-img {
  width: 15px;
  height: 15px;
}

.q-toast-x {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.q_toast_success {
  border-radius: 8px;
  border: 1px solid #BEE5C8;
  background: #EBFFEB;
}

.q_toast_error {
  border-radius: 8px;
  border: 1px solid #F5C5BB;
  background: #FCEDEA;
}

.q_toast_warn {
  border-radius: 8px;
  border: 1px solid #FADEAF;
  background: #FEF7EA;
}

.q_toast_primary {
  border-radius: 8px;
  border: 1px solid #ABCDF1;
  background: #E5EFFA;
}

#canvas {
  position: absolute;
  top: 0;
}

.q_toast_cross{
  width: 30px;
}