.q-referShare {
    width: 40%;
    flex-shrink: 0;
    border-radius: 18px;
    background: #FFF;
    backdrop-filter: blur(91px);
    font-family: Hanken Grotesk, Serif;
    min-width: 400px;
    padding: 20px 30px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.42);
}

.q-referShare-content-close {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    cursor: pointer;
    margin-left: 90%;
}

.q-referShare-content-head {
    color: #141414;
    font-size: 34px;
    font-weight: 700;
    margin: 0;
}

.q-referShare-content-para {
    color: #141414;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

.q-referShare-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.q-referShare-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.q-referShare-content-rect {
    background: #EEE;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.q-referShare-content-code {
    color: #333;
    font-size: 25px;
    font-weight: 400;
    line-height: 51px;
}

.q-referShare-content-social {
    display: flex;
    gap: 25px;
}

.q-referShare-content-copy-img {
    width: 43px;
    height: 43px;
    cursor: pointer;
}

.q-referShare-content-msg {
    color: #545454;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

.q-referShare-content-social-img {
    width: 35px;
    cursor: pointer;
    height: 35px;
}

@media (max-width: 550px) {
    .q-referShare {
        width: fit-content;
        min-width: 250px;
    }
}

/*Refer Share component*/

.q-referEarn {
    border-radius: 30px;
    background: #FFF;
    width: 400px;
    gap: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.q-referEarn-gift-img {
    width: 70%;
    cursor: pointer;
}

.q-referEarn-rect{
    display: flex;
    align-items: center;
    width: 70%;
    gap: 40%;
    padding: 5px 0 5px 15%;
    border-radius: 10px;
    border: 1px dashed black;
}

.q-referEarn-para{
    color:  #545454;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    width: 70%;
    font-weight: 400;
}

.q-referEarn-invite{
    display: flex;
    width: 90%;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background: #141414;
    color: white;
}