.q-feedback-err {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  color: #f00;
}
.q-fw-heading {
  box-sizing: content-box;
  height: 50px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.q-fw-heading > img {
  width: 20px;
  cursor: pointer;
}
.q-fw-heading > div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.q-fw-heading > div > p {
  overflow: hidden;
  color: var(--neutral-pure-white-100, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.q-fw-div {
  width: 376px;
  border-radius: 16px;
  box-shadow: 0px 0px 20px 0px #00000073;
  background-color: white;
}
.q-fw-thanks {
  padding-bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.q-fw-cards {
  cursor: pointer;
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.q-fw-crossBtn {
  position: relative;
  height: 10px;
  margin-bottom: 10px;
}
.q-fw-crossBtn > div {
  width: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.fd-powered-by {
  padding-bottom: 20px;
  font-size: 0.875rem;
  margin: auto;
  cursor: pointer;
  width: fit-content;
}
.rating-heading {
  text-align: center !important;
}
.q-input-email-checks {
  font-size: 12px;
  color: #f00;
}
.q-fdov-levels {
  color: var(--grey-5, var(--neutral-pure-black-100, #000));
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.q-fdov-input {
  display: flex;
  padding: 10px 12px;
  box-sizing: content-box;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--neutral-grey-100, #ececec);
  margin-top: 4px !important;
}
.q-fdov-input > input,
.q-fdov-input textarea {
  width: 100%;
  border: 0;
}
.q-fdov-input > input,
.q-fdov-input textarea:hover {
  border: 0;
  outline: 0;
}
.q-fdov-input > input,
.q-fdov-input textarea:focus {
  border: 0;
  outline: 0;
}
.q-fdov-input > .q-fdov-input textarea {
  resize: none;
}
.q-fdov-ch-boxes {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.q-fdov-btn-continue {
  box-sizing: content-box;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1.5px solid #d1acff;
  background: linear-gradient(84deg, #9035ff 0.36%, #0065ff 100.36%);
  cursor: pointer;
  color: var(--neutral-pure-white-100, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
}

.q_feedback_icon {
  padding: 8px;
  padding-bottom: 2px;
  border-radius: 50%;
  box-sizing: content-box;
  background: var(--Neutral-White-200, #fbfbfb);
}

.q_feedback_desc {
  color: var(--Neutral-Black-100, #939393);
  font-family: "Figtree";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.q_fw_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.q_fw_submit_desc {
  color: var(--Neutral-Black-100, #939393);
  text-align: center;
  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 20px;
}

.q_fw_submit_back {
  display: flex;
  width: 164px;
  height: 40px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1.5px solid var(--Neutral-White-300, #efefef);
  background: var(--Neutral-White-100, #fff);
  color: var(--Neutral-Black-400, #2c2c2c);
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  cursor: pointer;
  font-weight: 500;
  line-height: 20px;
  box-sizing: border-box;
}

.q_fw_submit_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.q-fw-content-box {
  margin-top: 35px;
  padding: 0 20px;
}

.q-fw-tab-heading {
  color: #2c2c2c;
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.q-fw-tab-description {
  overflow: hidden;
  color: #939393;
  text-overflow: ellipsis;
  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

.q_fw_input {
  color: #939393;
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}
