.q-feedback-err {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  color: #f00;
}
.q-fw-heading {
  height: 50px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  background-color: black;
  color: white;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.q-fw-heading>img{
  width: 20px;
  cursor: pointer;
}
.q-fw-heading>div{
  display: flex;
  align-items: center;
  gap: 12px;
}
.q-fw-heading>div>p{
  overflow: hidden;
  color: var(--neutral-pure-white-100, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.q-fw-div {
  width: 430px;
  border-radius: 16px;
  box-shadow: 0px 0px 20px 0px #00000073;
  background-color: white;
}
.q-fw-thanks {
  padding-bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.q-fw-cards {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 3% 6%;
  border-radius: 0.375rem;
}

.q-fw-crossBtn {
  position: relative;
  height: 10px;
  margin-bottom: 10px;
}
.q-fw-crossBtn>div {
  width: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.fd-powered-by {
  padding-bottom: 20px;
  font-size: 0.875rem;
  margin: auto;
  cursor: pointer;
  width: fit-content;
}
.rating-heading {
  text-align: center !important;
}
.q-input-email-checks{
  font-size: 12px;
  color: #f00;
}
.q-fdov-levels{
  color: var(--grey-5, var(--neutral-pure-black-100, #000));
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.q-fdov-input {
  display: flex;
  padding: 10px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 10px;
  border: 2px solid var(--neutral-grey-100, #ECECEC);
  margin-top: 4px !important;
}
.q-fdov-input>input,textarea{
  width: 100%;
  border: 0;
}
.q-fdov-input>input,textarea:hover{
  border: 0;
  outline: 0;
}
.q-fdov-input>input,textarea:focus{
  border: 0;
  outline: 0;
}
.q-fdov-input>textarea{
  resize: none;
}
.q-fdov-ch-boxes{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.q-fdov-btn-continue{
  padding: 10px 20px;
  border-radius: 10px;
  background: var(--neutral-grey-700, #252525);
  color: var(--neutral-pure-white-100, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
}