.q-feedback-cont {
  width: 400px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
  /* padding: 20px; */
  max-width: 28rem;
  margin: 0 auto;
  border-radius: 12px;
  font-family: 'Figtree', sans-serif;
}
.q-sub {
  color: #333333;
  line-height: 28px;
  margin-bottom: 0.5rem;
  font-weight: 400;
  text-align: center;
}
.q-star-div {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 3px;
  cursor: pointer;
}
.like-dislike-cont {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding-bottom: 8px;
}
.icon-inside-like-dislike {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.q-cmts {
  margin-top: 2%;
  font-size: 16px;
  text-align: right;
}
.q-feed-desc {
  margin-top: 5%;
  background-color: #F6F6F6;
  border-radius: 10px;
  padding: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}
.q-btn-feed {
  font-size: 18px;
  background-color: white;
  color: black;
  border: 1px solid black;
  box-sizing: content-box;
  border-radius: 50px;
  padding: 8px 24px;
  margin-right: 0.5rem;
  cursor: pointer;
}
.q-feed-btns-div {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.q-fd-like-dislike{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.q-fd-like-dislike-txt{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  gap: 8px;
}
.q-fd-like-dislike-txt>h4,p{
  width: fit-content;
}
.q-fd-like-dislike-txt>h4{
  color: var(--neutral-grey-700, #252525);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.q-fd-like-dislike-txt>p{
  color: var(--neutral-grey-400, #5E5E5E);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.q-fd-input {
  display: flex;
  padding: 10px 12px;
  box-sizing: content-box;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 10px;
  border: 2px solid var(--neutral-grey-100, #ECECEC);
}
.q-fd-input>input,.q-fd-input textarea{
  width: 100%;
  border: 0;
}
.q-fd-input>input,.q-fd-input textarea:hover{
  border: 0;
  outline: 0;
}
.q-fd-input>input,.q-fd-input textarea:focus{
  border: 0;
  outline: 0;
}
.q-fd-input>.q-fd-input textarea{
  resize: none;
}
.q-fd-lebels {
  display: block;
  color: #141414;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 4px;
}
.q-fd-heading{
  overflow: hidden;
  color:  black;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.q-fd-sub{
  overflow: hidden;
  color: var(--neutral-grey-300, #8E8E8E);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 5px;
}
.q-fd-topbar{
  border-bottom: 1px solid #EFEFEF;
  background:  #FFF;
  padding: 12px 20px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px 12px 0px 0px;
}
.q-fd-topbar>img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.q_feed_anime{
  display: none !important;
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
}

.q-inline{
  position: fixed;
  height: fit-content !important;
}

.q-visible{
  display: block !important;
}

.q_feedback_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  align-self: stretch;
}

.q-fdov-btn-cancel {
  border-radius: 10px;
  border: 1.5px solid #EFEFEF;
  background: #FFF;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.q_fw_textarea {
  display: flex;
  padding: 10px 16px 64px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid #ECECEC;
  outline: none;
  width: 90%;
  font-family: 'Figtree';
}