.q_walk_trhough {
    display: flex;
    width: 376px;
    padding: 0;
    flex-direction: column;
    gap: 12px;
    position: relative;
    border-radius: 12px 12px;
    background: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.137);
}

.q_walk_close {
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.q_walk_close_img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.q_walk_head {
    overflow: hidden;
    color: #252525;
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.48px;
    padding: 0 20px;
    box-sizing: content-box;
}

.q_walk_img {
    width: 336px;
    height: 148px;
    flex-shrink: 0;
}

.q_walk_tooltip {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    height: 15px;
    width: 25px;
    background-color: white;
}


.q_walk_desc {
    color: #B9B9B9;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    padding: 0 20px;
    box-sizing: content-box;
}

.q_walk_foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.q_walk_count {
    color: #B9B9B9;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.q_walk_next {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    background: var(--Gradient-1, linear-gradient(180deg, #3378FF 0%, #9442FE 100%));
}

.q_walk_back {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    border-radius: 10px;
    border: 1.5px solid  #EFEFEF;
    background:  #FFF;
}

.q_walk_btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.q_walk_top {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
    box-sizing: content-box;
}

@keyframes q_spotlight {
    0% {
      box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.8); 
      transform: scale(1.01);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); 
      transform: scale(1);
    }
  }
  
  .q_walk_highlighted {
    position: relative;
    z-index: 1; 
    animation: q_spotlight 1s infinite alternate;
  }
  