@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.questLabs-google a {
  outline: none;
}
.q-inputStyle {
  width: 43px !important;
  height: 35px;
  border-radius:  10px;
  border: 1.5px solid var(--neutral-grey-100, #ECECEC);
  background: var(--neutral-pure-white-100, #FFF);  
  color: rgb(2, 2, 2);
  font-size: 14px;
}
.q-inputStyle:focus{
  outline: none;
}
.q-otp-label{
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}
.q-containerStyle{
  width: 320px !important;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
.q-login-p {
  color: #ed0a34;
  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: 4px;
}
.q-login-container {
  width: 376px;
  /* height: 561px; */
  border-radius: 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
}
.q-login-h1 {
  overflow: hidden;
  color: #252525;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 8px;
}
.q-login-h4 {
  color: #5e5e5e;
  text-align: center;
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.q-login-or-container {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-or-line {
  height: 0.5px;
  width: 100px;
  background-color: #afafaf;
}
.powered-by {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  text-align: center;
}
.q-g-btn {
  display: flex;
  width: 280px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1.5px solid #2b2b2b;
}
.q-resend {
  color:var(--neutral-grey-400, #5E5E5E);
  text-align: center;
  font-size: 14px;
  font-style: normal;
 font-weight: 400;
 line-height: 20px;
}
.q-login-parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.q-login-body {
  padding: 20px 28px;
}

.q-email-login-ctn {
  margin-top: 20px;
}

.q-email-text {
  color: #252525;
  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.q-email-input {
  position: relative;
  width: 100%;
}

.q-email-input img {
  position: absolute;
  top: 14px;
}

.q-login-email-input {
  display: flex;
  padding: 10px 12px 10px 32px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 2px solid #ececec;
  color: #8e8e8e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: calc(100% - 48px);
  margin-top: 2px;
}

.q-email-cross {
  right: 12px;
  cursor: pointer;
}

.q-email-logo {
  left: 12px;
}

.q-email-btn-continue {
  display: flex;
  width: 280px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: #252525;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 20px;
  cursor: pointer;
}

.q-or-continue {
  color: var(--grey-0, var(--neutral-grey-200, #afafaf));
  font-family: Hanken Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
