.questLabs-google a {
  outline: none;
}
.q-inputStyle {
  width: 50% !important;
  height: 45px;
  border-radius: 7px;
  border: 0px;
  margin-left: 8px;
  margin-right: 8px;
  background: #dddddd;
  font-size: 20px;
  color: rgb(2, 2, 2);
}
.q-login-p {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  color: #f00;
}
.q-login-container {
  width: 454px;
  /* height: 561px; */
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px #00000073;
}
.q-login-h1 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.q-login-h4 {
  font-weight: normal;
  margin-bottom: 18px;
  text-align: center;
  color: #333333;
}
.q-login-or-container {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-or-line {
  flex-grow: 1;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}
.powered-by {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  text-align: center;
}
.q-g-btn {
  border: 2px solid black;
  height: 45px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
.q-resend {
  text-align: center;
  font-size: 18px;
}
