@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.questLabs-google a {
  outline: none;
}
.q-inputStyle {
  width: 43px !important;
  height: 35px;
  border-radius: 10px;
  border: 1.5px solid  #ececec;
  background:  #fff;
  color: rgb(2, 2, 2);
  font-size: 14px;
}
.q-inputStyle:focus {
  outline: none;
}
.q-otp-label {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.q-containerStyle {
  width: 320px !important;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
.q-login-p {
  color: #ed0a34;
  /* font-family: Figtree; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: 4px;
}
.q-login-container {
  width: 376px;
  /* height: 561px; */
  border-radius: 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  background: white;
}
.q-login-h1 {
  overflow: hidden;
  color: #252525;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
}
.q-login-h4 {
  text-align: center;
  color: #B9B9B9;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
}
.q-login-or-container {
  margin-top: -8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -8px;
  width: 100%;
}
.login-or-line {
  height: 0.5px;
  width: 45%;
  background-color: #e0e0e0;
}
.powered-by {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  text-align: center;
}
.q-g-btn {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1.5px solid #efefef;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.q-resend {
  color: #5e5e5e;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.q-login-parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

/* .q-login-body {
  padding: 20px;
} */

.q-email-login-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.q-email-login-ctn button {
  cursor: pointer;
  background: linear-gradient(84deg, #9035ff 0.36%, #0065ff 100.36%);
  color:  #fff;
  padding: 10px 16px;
  /* justify-content: center;
  align-items: center; */
  /* gap: 4px; */
  /* flex: 1 0 0; */
  border-radius: 10px;
  border: 1.5px solid #d1acff;
  width: 100%;
}

.q-email-text {
  color: #252525;
  /* font-family: Figtree; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 4px;
}

.q-email-input {
  position: relative;

  width: 100%;
}

.q-email-input img {
  position: absolute;
  top: 14px;
}

.q-login-email-input {
  box-sizing: content-box;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 2px solid #ececec;
  color: #8e8e8e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: calc(100% - 48px);
  margin-top: 2px;
}

.q-email-cross {
  right: 12px;
  cursor: pointer;
}

.q-email-logo {
  left: 12px;
}

.q-email-btn-continue {
  box-sizing: content-box;
  display: flex;
  width: 280px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: #252525;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 20px;
  cursor: pointer;
}
.q-email-input input {
  padding-left: 20px;
}
.q-email-input div {
  border-radius: 6px;
  border: 2px solid  #ececec;
}
.quest_footer div {
  text-align: center;
}

.q-or-continue {
  color: #e0e0e0;
  /* font-family: Hanken Grotesk; */
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.q-login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  gap: 4px;
  padding: 20px;
}

.q-login-mid-cont {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
