.q_otp_cont {
  width: 90px;
  height: 90px;
  background-color: #9035ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
}

.q_otp_icon2 {
  align-content: center;
  justify-content: center;
}
.q_otp_main_cont {
  width: 110px;
  height: 110px;
  background-color: #b045ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.q_outer_cont {
  height: 121px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.q_otp_resend {
  color: var(--Neutral-Grey-200, #afafaf);

  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: 4px;
}

.q_otp_resend span {
  color: black;
  font-weight: 700;
  cursor: pointer;
}

.q_email_otp {
  color: var(--Neutral-Grey-700, #252525);
  text-align: center;
  text-overflow: ellipsis;
  font-family: Figtree;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.18px;
}

.q_otp_btn_continue button {
  margin-top: 20px;
  cursor: pointer;
  background: linear-gradient(84deg, #9035ff 0.36%, #0065ff 100.36%);
  color: var(--Neutral-White-100, #fff);
  padding: 10px 16px;
  /* justify-content: center;
  align-items: center; */
  /* gap: 4px; */
  /* flex: 1 0 0; */
  border-radius: 10px;
  border: 1.5px solid #d1acff;
  width: 100%;
}
.q_heading_cont {
  display: flex;
  justify-content: start;
  align-content: center;
  margin-bottom: 8px;
  gap: 12px;
}

.q-login-head2 {
  overflow: hidden;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: var(--grey-4, #141414);
  color: var(--neutral-grey-700, #252525);
}
.q_heading_cont img {
  cursor: pointer;
}
