@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Jost", sans-serif
}
/* Margin Classes */
.m-1 { margin: 0.25rem; }
.m-2 { margin: 0.5rem; }
.m-3 { margin: 1rem; }
.m-4 { margin: 1.5rem; }
.m-5 { margin: 3rem; }

.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 1rem; }
.mt-4 { margin-top: 1.5rem; }
.mt-5 { margin-top: 3rem; }

.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 3rem; }

.ml-1 { margin-left: 0.25rem; }
.ml-2 { margin-left: 0.5rem; }
.ml-3 { margin-left: 1rem; }
.ml-4 { margin-left: 1.5rem; }
.ml-5 { margin-left: 3rem; }

.mr-1 { margin-right: 0.25rem; }
.mr-2 { margin-right: 0.5rem; }
.mr-3 { margin-right: 1rem; }
.mr-4 { margin-right: 1.5rem; }
.mr-5 { margin-right: 3rem; }

.mx-1 { margin-left: 0.25rem; margin-right: 0.25rem; }
.mx-2 { margin-left: 0.5rem; margin-right: 0.5rem; }
.mx-3 { margin-left: 1rem; margin-right: 1rem; }
.mx-4 { margin-left: 1.5rem; margin-right: 1.5rem; }
.mx-5 { margin-left: 3rem; margin-right: 3rem; }

.my-1 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
.my-2 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.my-3 { margin-top: 1rem; margin-bottom: 1rem; }
.my-4 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
.my-5 { margin-top: 3rem; margin-bottom: 3rem; }

/* Padding Classes */
.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 1rem; }
.p-4 { padding: 1.5rem; }
.p-5 { padding: 3rem; }

.pt-1 { padding-top: 0.25rem; }
.pt-2 { padding-top: 0.5rem; }
.pt-3 { padding-top: 1rem; }
.pt-4 { padding-top: 1.5rem; }
.pt-5 { padding-top: 3rem; }

.pb-1 { padding-bottom: 0.25rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pb-3 { padding-bottom: 1rem; }
.pb-4 { padding-bottom: 1.5rem; }
.pb-5 { padding-bottom: 3rem; }

.pl-1 { padding-left: 0.25rem; }
.pl-2 { padding-left: 0.5rem; }
.pl-3 { padding-left: 1rem; }
.pl-4 { padding-left: 1.5rem; }
.pl-5 { padding-left: 3rem; }

.pr-1 { padding-right: 0.25rem; }
.pr-2 { padding-right: 0.5rem; }
.pr-3 { padding-right: 1rem; }
.pr-4 { padding-right: 1.5rem; }
.pr-5 { padding-right: 3rem; }

.px-1 { padding-left: 0.25rem; padding-right: 0.25rem; }
.px-2 { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-3 { padding-left: 1rem; padding-right: 1rem; }
.px-4 { padding-left: 1.5rem; padding-right: 1.5rem; }
.px-5 { padding-left: 3rem; padding-right: 3rem; }

.py-1 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.py-2 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-3 { padding-top: 1rem; padding-bottom: 1rem; }
.py-4 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.py-5 { padding-top: 3rem; padding-bottom: 3rem; }

.quest-login-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5% 20%;
}
.quest-login-container h1 {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
  font-family: "Jost", sans-serif;
  word-wrap: break-word;
}
.quest-login-container h4 {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: "Jost", sans-serif;
  word-wrap: break-word;
}
.q-btn-white {
  border-radius: 8px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.no-underline {
  text-decoration: none;
}
.q-helper-text {
  font-style: normal;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 16px !important;
}
.q-text-grey-1 {
  color: #757575;
}
.q-text-black {
  color:#0000 !important;
}
.q-link {
  font-style: normal;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 20px !important;
  text-decoration: none !important;
}
.q-button-sm {
  font-style: normal;
  font-weight: 600 !important;
}
.q-fw-normal {
  font-weight: normal !important;
}
#inpBox{
  outline: none;
  border: 0px;
}
/* input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 16px;
  gap: 8px;
  height: 44px;
  border-radius: 8px;
  background: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
} */
input {
  width: 100%;
  box-shadow: none;
  border-radius: 2px;
}
.custom-input::placeholder {
  color: white;
}
.quest-login-container h5 {
  font-size: 18px;
  font-weight: 400;
}

/* media querries */

@media (max-width: 1024px) {
  .quest-login-container input[type="email"]{
    font-size: 16px;
  }
  .quest-login-container {
    padding: 3% 10%;
  }
  .quest-login-container h1 {
    font-size: 3rem;
  }
  .quest-login-container h4 {
    font-size: 1.2rem;
  }
  .quest-login-container h5 {
    font-size: 16px;
  }
  .quest-login-container p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .quest-login-container input[type="email"]{
    font-size: 14px;
  }
  .quest-login-container {
    padding: 1% 5%;
  }
  .quest-login-container h1 {
    font-size: 2rem;
  }
  .quest-login-container h4 {
    font-size: 1rem;
  }
  .quest-login-container h5 {
    font-size: 14px;
  }
  .quest-login-container p {
    font-size: 12px;
  }
}