.q_challenges_main_cont {
  padding: 0px 20px;
  height: 802px;
  width: 440px;
  background: linear-gradient(
    13deg,
    rgba(255, 255, 255, 0) 38.24%,
    #9035ff 59.39%,
    #0065ff 70.7%
  );
  position: relative;
  border-radius: 12px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
.q_challenges_main_heading {
  overflow: hidden;
  color: var(--Neutral-White-100, #fff);
  text-align: center;
  text-overflow: ellipsis;
  padding: 40px 0px;
  /* Title lg/600 */
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.48px;
}
.q_challenges_card_main_container {
  position: absolute;
  bottom: 0;
}
.q_challenges_card_cont_main {
  display: flex;
  width: 400px;
  height: 484px;
  padding: 20px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  /* gap: 20px; */
  border-radius: 12px;
  /* border: 1.5px solid var(--Neutral-White-300, #efefef); */
  background: var(--Neutral-White-100, #fff);
  /* card */
  box-shadow: 0px 4px 20px 4px rgba(87, 87, 87, 0.08);
  bottom: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 4;
}
.q_top_challenges_card_main_cont {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  top: -56px;
}

.q_top_challenges_card_img {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transform: translateX(-50%);
  background: var(--neutral-opacity-white-20, rgba(255, 255, 255, 0.2));
  border-radius: 50%;
  height: 210px;
  width: 210px;
  left: 50%;
  position: absolute;
}
.q_footer_challenges {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  box-sizing: "border-box";
  bottom: 0;
  z-index: 4;
}
.q_challenges_card_heading {
  color: var(--Neutral-Black-500, #0d0d0d);
  /* Title sm/600 */
  font-family: Figtree;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.18px;
}

.q_challenges_card_cont {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  box-sizing: border-box;
  position: relative;
  z-index: 4;
  overflow: auto;
}

.q_challenges_inner_card_main_cont {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-bottom: 1px solid var(--Neutral-White-300, #efefef);
}
.q_challenges_icon_main_cont {
  width: 24px;
  height: 24px;
  border-radius: 48px;
  padding: 12px;
  background: var(--Primary-Grape-100, #f4ebff);
}
.q_challenges_inner_card_name_cont {
  width: 100%;
}
.q_challenges_inner_card_progressbar {
  height: 8px;
  background: var(--Neutral-Grey-100, #ececec);
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0px;
}

.q_challenges_inner_card_progressbar_inner {
  background: var(--Primary-Grape-500, #9035ff);
  height: 100%;
  border-radius: 5px;
  width: 100px;
  transition: width 0.5s ease;
}
.q_challenges_inner_card_name_head {
  color: var(--Neutral-Black-400, #2c2c2c);
  /* Body lg/600 */
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.q_challenges_inner_card_trips {
  color: var(--Primary-Grape-500, #9035ff);
  /* Body sm/500 */
  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.q_challenges_card_input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  color: var(--Neutral-Black-100, #939393);
  /* Body lg/400 */
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.q_challenges_card_input_cont {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid var(--Neutral-White-400, #e0e0e0);
  background: var(--Neutral-White-100, #fff);
  box-sizing: border-box;
  margin: 12px 0px;
}
